/* [project]/src/app/common.css [app-client] (css) */
.glow-button {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4) 0 0 / 400%;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 56px;
  padding: 0 28px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  position: relative;
}

.glow-button:hover {
  animation: 8s linear infinite animate;
}

.glow-button:before {
  content: "";
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4) 0 0 / 400%;
  border-radius: 999px;
  transition: opacity .5s;
  position: absolute;
  inset: -5px;
}

.glow-button:hover:before {
  opacity: 1;
  animation: 8s linear infinite animate;
}

.glow-button:focus-visible {
  outline-offset: 4px;
  outline: 3px solid #fff;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 90deg;
}

:root {
  --clr-card: #1f2937;
  --clr-1: #22289a;
  --clr-2: #57969c;
  --clr-3: #602bba;
  --clr-4: #840303;
  --clr-5: #2d2e83;
  --clr-6: #ff20c7;
  --clr-7: #36d1f4;
}

.animated-border-red {
  cursor: pointer;
  background-color: var(--clr-card);
  max-height: 77px;
  position: relative;
}

.animated-border-red:after, .animated-border-red:before {
  content: " ";
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), var(--clr-5), var(--clr-6), var(--clr-7), var(--clr-6), var(--clr-5));
  border-radius: inherit;
  animation: 2.5s linear infinite rotate;
  position: absolute;
  inset: -3px;
}

.animated-border-button {
  cursor: pointer;
  background-color: var(--clr-card);
  max-height: 77px;
  position: relative;
}

.animated-border-button:after, .animated-border-button:before {
  content: " ";
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), var(--clr-1), var(--clr-2), var(--clr-3), var(--clr-2), var(--clr-1));
  border-radius: inherit;
  position: absolute;
  inset: -3px;
}

.animated-border-button:hover:after, .animated-border-button:hover:before {
  animation: 2.5s linear infinite rotate;
}

.animated-border-button:after {
  filter: blur(5px);
}

.animated-border-button:hover .icon {
  animation: .5s ease-in moveUp;
}

@keyframes rotate {
  to {
    --gradient-angle: 360deg;
  }
}

.animate-border:before, .animate-border:after {
  animation: 2.5s linear infinite rotate;
}

@keyframes moveUp {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(35px, -60px);
  }
}

.background-container {
  background: linear-gradient(132deg, #fc415a, #44b6e9, #212335) 0 0 / 400% 400%;
  width: 100%;
  margin: 0;
  padding: 0;
  animation: 15s infinite Gradient;
  position: relative;
  overflow: hidden;
}

.background-container .cube {
  transform-origin: 0 0;
  border: 1px solid #d7d4e4;
  width: 10px;
  height: 10px;
  animation: 12s ease-in infinite forwards cube;
  position: absolute;
  top: 80vh;
  left: 45vw;
  transform: scale(0)rotate(0)translate(-50%, -50%);
}

.background-container .cube:nth-child(2n) {
  border-color: #fff;
}

.background-container .cube:nth-child(2) {
  animation-delay: 2s;
  top: 40vh;
  left: 25vw;
}

.background-container .cube:nth-child(3) {
  animation-delay: 4s;
  top: 50vh;
  left: 75vw;
}

.background-container .cube:nth-child(4) {
  animation-delay: 6s;
  top: 10vh;
  left: 90vw;
}

.background-container .cube:nth-child(5) {
  animation-delay: 8s;
  top: 85vh;
  left: 10vw;
}

.background-container .cube:nth-child(6) {
  animation-delay: 10s;
  top: 10vh;
  left: 50vw;
}

@keyframes Gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

@keyframes cube {
  from {
    opacity: 1;
    transform: scale(0)rotate(0)translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: scale(20)rotate(960deg)translate(-50%, -50%);
  }
}

.magic-btn {
  color: #111;
  cursor: pointer;
  background: none;
  border: 1.5px solid #111;
  border-radius: 999px;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  transition: color .3s;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.magic-btn:before {
  content: "";
  z-index: 0;
  background: #111;
  transition: transform .35s;
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
}

.magic-btn:hover:before {
  transform: translateX(0);
}

.magic-btn:hover {
  color: #fff;
}

.magic-btn .text, .magic-btn .icon {
  z-index: 1;
  position: relative;
}

.magic-btn .icon {
  transition: transform .3s;
}

.magic-btn:hover .icon {
  transform: translateX(4px)translateY(-2px);
}

/*# sourceMappingURL=src_app_common_css_bad6b30c._.single.css.map*/